.paper-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 70%;
  max-width: 600px;
  text-align: center;
  background: transparent;
  height: 500px;
  overflow: auto;
}
.research {
  overflow: auto;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.researchButton {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.researchTitle {
  margin-left: 10px;
  margin-top: 50px;
}
/* styles.css */
.button-Container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-Container button {
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
}

.resetButton {
  background-color: #dc3545;
  color: #fff;
}

/* CSS for the dropdown */
.author-dropdown {
  list-style: none;
  padding: 0;
  margin-top: 4px;
  max-height: 150px;
  overflow-y: auto;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-left: 60px;
}

.author-dropdown li {
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.author-dropdown li:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}

/* Style for the input field */
#authors {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Add some spacing between input and dropdown */
.form-group {
  margin-bottom: 16px;
}

.addButton {
  background-color: #007bff;
  color: #fff;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.deleteButton {
  background-color: #dc3545;
  color: #fff;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
