.container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
}

form {
  margin-top: 1px;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
@media screen and (max-width: 768px) {
  form {
    padding: 10px; /* Adjust padding for smaller devices */
  }
  .inputbox {
    margin-bottom: 10px;
  }

  .close-modal {
    position: absolute;
    /* top: -5px;
    right: 195px; */
    padding: 5px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    z-index: 2;
  }
}
