/* WorkshopForm.css */
.workshop-form-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  text-align: center;
  background: transparent;
  height: 500px;
  overflow: auto;
  margin-top: 20px;
}
.heading {
  margin-top: 50px;
}
.workshop-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 90px;
}

.workshop-label {
  margin-bottom: 5px;
}

.workshop-input {
  width: 100%;
  padding: 10px;
  margin: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.workshop-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
