.formContainer {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  width: 415px;
  font-family: Arial, sans-serif;
  margin-left: 500px;
  max-height: 550px;
}
.internH2 {
  margin-top: 40px;
  margin-bottom: 5px;
  text-align: center;
  margin-right: 130px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 20px;
}

.submit-button:hover,
.reset-button:hover {
  opacity: 0.8;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: -60px;
  margin-left: 550px;
}

.buttonContainer button {
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  height: 10%;
}

.reset-button {
  background-color: #dc3545;
  color: #fff;
  height: 10%;
}
